body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1em;
    background-color:cornsilk;
}
h1{font-family:'Segoe UI';
   font-size:2em;
   color:maroon;
   border-bottom:solid .2em maroon;
   text-align:center;
}
